/* Font */
@import url("https://fonts.googleapis.com/css?family=Roboto:100,400,700");

/* Global */

body {
    font-family: "Roboto", sans-serif;
}

a, button {
    text-decoration: none !important;
    cursor: pointer;
    color: #444;
}

a:hover {
    color: #0056b3;
}

/* Title */

h1, h2, h3, h4, h5, h6 {
    font-weight: 100;
    line-height: 1.4;
}

h1.title {
    font-size: 4rem;
}

/* Navbar */

.navbar {
    border-bottom: 1px solid #eee;
    padding-top: 20px;
    padding-bottom: 20px;
}

.navbar .navbar-brand {
    margin-right: 50px;
}

.navbar input {
    border-radius: 1000px;
}

/* Cover */

.cover {
    padding: 150px 0;
    background-size: cover;
    background-position: center;
    box-shadow: inset 0 0 0 100000px rgba(0, 0, 0, 0.6);
    color: white;
}

.bg-landing {
    background-image: url("../img/landing.jpg");
}

/* Button */
.btn {
    padding-top: 15px;
    padding-bottom: 15px;
}

/* Products */

.products img {
    max-width: 100%;
    width: 175px;
}

.products p {
    line-height: 25px;
    color: #000000;
}

.products a {
    display: block;
    margin: 15px 0 15px 0;
}

/* Image */

.img-circle {
    border-radius: 10000px;
}

/* Footer */

.footer a {
    margin-right: 15px;
}