/* Space */

.s-pad-y {
    padding-top: 100px;
    padding-bottom: 100px;
}

/* Text */

.t-bold {
    font-weight: 900;
}

.t-normal {
    font-weight: normal;
}

.t-light {
    font-weight: 100;
}

.t-line {
    line-height: 2.5rem;
}

/* Colors */

.c-emerald-child > *,
.c-emerald {
    color: #2ecc71;
}