{% load cms_tags menu_tags i18n sekizai_tags %}
{% get_current_language_bidi as LANGUAGE_BIDI %}

<!DOCTYPE html>
<html>
<head>
  <!-- Meta data -->
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>

  <!-- Title and favicon -->
  <title>{% block title %}Kloud51{% endblock title %} &bull; Savand Bros</title>
  <link rel="icon" href="/static/img/favicon.png">

  <!-- Load stylesheets -->
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/static/css/shorties.css">
  <link rel="stylesheet" href="/static/css/app.css">

  <!-- Load external stylesheets -->
  {% render_block "css" %}
</head>

<body dir="{% if LANGUAGE_BIDI %}rtl{% else %}ltr{% endif %}">
  <!-- CMS Toolbar -->
  {% cms_toolbar %}

  <!-- Header -->
  {% include "include/header.html" %}

  <!-- Page content -->
  <div class="page">
    {% block content %}{% endblock content %}
  </div>

  <!-- Footer -->
  {% include "include/footer.html" %}

  <!-- Load scripts -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
  <script src="/static/js/grid.js"></script>
  <script src="/static/js/app.js"></script>

  <!-- External scripts -->
  {% render_block "js" %}
</body>
</html>
