<!doctype html>
<html lang="en" dir="{{ if eq .Language.Lang "fa" }}rtl{{ else }}ltr{{ end }}">
  <head>

    <!-- Meta data -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content='{{ i18n "savand_bros" }}'>
    <meta name="author" content='{{ i18n "savand_bros" }}'>

    <!-- Title and favicon -->
    <title>{{ i18n "savand_bros" }}</title>
    <link rel="icon" type="image/png" href="assets/img/favicon.png">

    <!-- Styles -->
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/app.css">
  </head>

  <body>

    <!-- Navbar -->
    <nav class="navbar navbar-expand-sm navbar-light bg-light">
      <div class="container p-3">
        <!-- Brand -->
        <a class="navbar-brand" href="{{ .Permalink }}">
          <img src="assets/img/favicon.png" width="32" alt='{{ i18n "savand_bros" }}'> {{ i18n "savand_bros" }}
        </a>
        <!-- Toggle button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav" aria-controls="nav">
          <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Links -->
        <div class="collapse navbar-collapse" id="nav">
          <div class="navbar-nav ml-auto">
            <a class="nav-item nav-link" href="#kloud51">{{ i18n "create_website" }}</a>
            <a class="nav-item nav-link" href="#gonevis">{{ i18n "start_blog" }}</a>
            <a class="nav-item nav-link" href="#contactus">{{ i18n "contact_us" }}</a>
            <!-- Language selection -->
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button">
                {{ .Language.Title }}
              </a>
              <div class="dropdown-menu">
                {{ range .Translations }}
                <a href="{{ .Permalink }}" class="dropdown-item">{{ .Title }}</a>
                {{ end }}
              </div>
            </li>
          </div>
        </div>
      </div>
    </nav>

    <!-- Section: Cover -->
    <section id="cover" class="container-fluid tall cover">
      <div class="container">
        <h1>{{ i18n "we_are_savand_bros" }}</h1>
        <div class="row">
          <div class="col-lg-8">
            <p>{{ i18n "we_provide" }}</p>
          </div>
        </div>
      </div>
    </section>

    <!-- Section: Products -->
    <section id="products" class="container-fluid short text-dark bg-light border-bottom">
      <div class="container text-center">
        <h1 class="text-info">{{ i18n "products" }}</h1>
        <hr>
        <div class="row">
          <div class="col-md-4">
            <a class="text-secondary" target="_blank" href="https://kloud51.com/">
              <img src="assets/img/kloud51.png" class="rounded-circle border p-3" alt="Kloud51">
              <h3 class="mt-4">{{ i18n "kloud51" }}</h3>
            </a>
          </div>
          <div class="col-md-4 mt-5 mt-lg-0 mt-md-0">
            <a class="text-secondary" target="_blank" href="https://gonevis.com/">
              <img src="assets/img/gonevis.png" class="rounded-circle border p-3" alt="GoNevis">
              <h3 class="mt-4">{{ i18n "gonevis" }}</h3>
            </a>
          </div>
          <div class="col-md-4 mt-5 mt-lg-0 mt-md-0">
            <a class="text-secondary" target="_blank" href="https://github.com/SavandBros/whisper">
              <img src="assets/img/whisper.png" class="rounded-circle border p-3" alt="Whisper">
              <h3 class="mt-4">{{ i18n "whisper" }}</h3>
            </a>
          </div>
        </div>
      </div>
    </section>

    <!-- Section: Kloud51 -->
    <section id="kloud51" class="container-fluid sides bg-light text-dark">
      <div class="row">
        <div class="col-md-6 side-image"></div>
        <div class="col-md-6 side-content">
          <div class="container">
            <h1><a href="https://kloud51.com">{{ i18n "kloud51" }}</a></h1>
            <p><b>{{ i18n "kloud51_title" }}</b></p>
            <p>{{ i18n "kloud51_detail" }}</p>
            <p><a class="btn btn-lg btn-success" href="https://kloud51.com/#plans">{{ i18n "kloud51_button" }}</a></p>
          </div>
        </div>
      </div>
    </section>

    <!-- Section: GoNevis -->
    <section id="gonevis" class="container-fluid sides bg-light text-dark border-top">
      <div class="row">
        <div class="col-md-6 side-content">
          <div class="container">
            <h1><a href="https://gonevis.com">{{ i18n "gonevis" }}</a></h1>
            <p><b>{{ i18n "gonevis_title" }}</b></p>
            <p>{{ i18n "gonevis_detail" }}</p>
            <p><a class="btn btn-lg btn-success" href="https://dash.gonevis.com">{{ i18n "gonevis_button" }}</a></p>
          </div>
        </div>
        <div class="col-md-6 side-image"></div>
      </div>
    </section>

    <!-- Section: Whisper -->
    <section id="whisper" class="container-fluid sides bg-light text-dark border-top">
      <div class="row">
        <div class="col-md-6 side-image"></div>
        <div class="col-md-6 side-content">
          <div class="container">
            <h1><a href="https://github.com/SavandBros/whisper">{{ i18n "whisper" }}</a></h1>
            <p><b>{{ i18n "whisper_title" }}</b></p>
            <p>{{ i18n "whisper_detail" }}</p>
          </div>
        </div>
      </div>
    </section>

    <!-- Section: Contact Us -->
    <section id="contactus" class="container-fluid cover tall light text-dark text-center">
      <div class="container">
        <h1 class="text-info">{{ i18n "contact_us" }}</h1>
        <div class="row mt-5 justify-content-center text-center">
          <div class="col-md-6">
            <form class="form" onsubmit="contactUs(this)">
              <div class="form-group">
                <input id="subject" type="text" placeholder="{{ i18n "subject" }}"
                  class="form-control form-control-lg"/>
              </div>
              <div class="form-group">
                <textarea id="message" rows="6" placeholder="{{ i18n "message" }}"
                  class="form-control form-control-lg"></textarea>
              </div>
              <button class="btn btn-info btn-lg">{{ i18n "send" }}</button>
            </form>
          </div>
        </div>
      </div>
    </section>

    <!-- Footer -->
    <footer class="container-fluid bg-light py-5">
      <div class="container">
        <div class="row">
          <div class="col-12 col-md">
            <p clas>Savand Bros &copy; 2018<br>{{ i18n "footer_text" }}</p>
          </div>
          <div class="col-6 col-md">
            <h5>What we do</h5>
            <ul>
              <!-- <li><a href="#">Software Development</a></li> -->
              <li><a href="https://kloud51.com/">{{ i18n "web_hosting" }}</a></li>
              <!-- <li><a href="#">Game Development</a></li> -->
              <li><a href="https://gonevis.com/">{{ i18n "blog_and_pub" }}</a></li>
              <li><a href="https://github.com/SavandBros/">{{ i18n "open_source" }}</a></li>
            </ul>
          </div>
          <div class="col-6 col-md">
            <h5>{{ i18n "products" }}</h5>
            <ul>
              <li><a href="https://kloud51.com/">{{ i18n "kloud51" }}</a></li>
              <li><a href="https://gonevis.com">{{ i18n "gonevis" }}</a></li>
              <li><a href="https://github.com/SavandBros/whisper">{{ i18n "whisper" }}</a></li>
              <li><a href="https://breakers-force.savandbros.com">{{ i18n "breakers_force" }}</a></li>
              <li><a href="http://badge.kloud51.com">{{ i18n "badge" }}</a></li>
            </ul>
          </div>
          <div class="col-6 col-md">
            <h5>{{ i18n "company" }}</h5>
            <ul>
              <li>{{ i18n "email" }} <a href="mailto:hello@savandbros.com">hello@savandbros.com</a></li>
              <li>{{ i18n "inn" }} {{ i18n "inn_info" }}</li>
              <li>{{ i18n "orgn" }} {{ i18n "orgn_info" }}</li>
              <li>{{ i18n "address" }} <a href="https://goo.gl/maps/DfUYNnX7Xd82">{{ i18n "address_info" }}</a></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>

    <!-- Scripts -->
    <script src="node_modules/jquery/dist/jquery.slim.min.js"></script>
    <script src="node_modules/popper.js/dist/umd/popper.min.js"></script>
    <script src="node_modules/bootstrap/js/dist/util.js"></script>
    <script src="node_modules/bootstrap/js/dist/collapse.js"></script>
    <script src="node_modules/bootstrap/js/dist/dropdown.js"></script>
    <script src="assets/app.js"></script>

    {{ template "_internal/google_analytics_async.html" . }}
  </body>
</html>
