{% load static humanize %}

<!DOCTYPE html>
<html lang="en">
<head>
  {# Meta data #}
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

  {# Title and favicon #}
  <title>{% block title %}{% endblock %} &bull; Savand Bros</title>
  <link rel="icon" type="image/png" href="{% static "img/favicon.png" %}"/>

  {# Styles #}
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css">
  <link rel="stylesheet" href="{% static "css/app.css" %}">
</head>
<body>
{# Page content #}
{% block content %}{% endblock %}

{# Scripts #}
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>

{# Page footer #}
{% block footer %}{% endblock %}

{# App script #}
<script src="{% static "js/app.js" %}"></script>
</body>
</html>
