{% extends 'base.html' %}

{% load staticfiles  i18n %}

{% block title %}{% trans "Home" %}{% endblock title %}

{% block content %}

  {# Cover #}
  <div class="container-fluid cover bg-landing">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          {# Title #}
          <h1 class="title">{% trans "Savand Bros" %}</h1>
          {# Sub title #}
          <h2>
            {% trans "We provide commercial, export/import, educational, managerial and tourist services in Russia." %}
          </h2>
          {% comment %}
          <br>
          <div class="box">
            <a href="{% url "basement:contact" %}" class="btn btn-success">{% trans "Contact Us" %}</a>
          </div>
          {% endcomment %}
        </div>
      </div>
    </div>
  </div>

  {# Services #}
  <div class="container s-pad-y-hard">
    <div class="row">
      <div class="col-lg-4">
        <h1>IT</h1>
        <hr>
        <ul class="list-unstyled">
          <li><h3 class="t-line t-light"><i class="fa fa-fw fa-check c-emerald"></i> Cloud Computing</h3></li>
          <li><h3 class="t-line t-light"><i class="fa fa-fw fa-check c-emerald"></i> Web Design &amp; Hosting</h3></li>
          <li><h3 class="t-line t-light"><i class="fa fa-fw fa-check c-emerald"></i> Email Hosting</h3></li>
          <li><h3 class="t-line t-light"><i class="fa fa-fw fa-check c-emerald"></i> Managed Online Store</h3></li>
        </ul>
      </div>
      <div class="col-lg-4">
        <h1>Tourist &amp; Traveling</h1>
        <hr>
        <ul class="list-unstyled">
          <li><h3 class="t-line t-light"><i class="fa fa-fw fa-check c-emerald"></i> Visit Visa</h3></li>
          <li><h3 class="t-line t-light"><i class="fa fa-fw fa-check c-emerald"></i> Hotel reservation</h3></li>
          <li><h3 class="t-line t-light"><i class="fa fa-fw fa-check c-emerald"></i> Flight ticket booking</h3></li>
          <li><h3 class="t-line t-light"><i class="fa fa-fw fa-check c-emerald"></i> Transfer</h3></li>
          <li><h3 class="t-line t-light"><i class="fa fa-fw fa-check c-emerald"></i> Tours</h3></li>
        </ul>
      </div>
      <div class="col-lg-4">
        <h1>Import &amp; Export</h1>
        <hr>
        <ul class="list-unstyled">
          <li><h3 class="t-line t-light"><i class="fa fa-fw fa-check c-emerald"></i> Food</h3></li>
          <li><h3 class="t-line t-light"><i class="fa fa-fw fa-check c-emerald"></i> Carpet</h3></li>
          <li><h3 class="t-line t-light"><i class="fa fa-fw fa-check c-emerald"></i> Electric &amp; Appliances</h3></li>
        </ul>
      </div>
    </div>
  </div>

  {# Products #}
  <div class="container s-pad-y text-center">
    <h1 class="mb-5">{% trans "Our Products" %}</h1>
    <div class="row products">
      <div class="col-md-4">
        <img class="img-circle" src="{% static "img/logo/gonevis.png" %}">
        <a href="https://kloud51.com/"><h3 class="t-normal">Kloud51</h3></a>
        <p class="text-secondary">Build your own professional website</p>
      </div>
      <div class="col-md-4">
        <img class="img-circle" src="{% static "img/logo/gonevis.png" %}">
        <a href="https://gonevis.com"><h3 class="t-normal">Gonevis</h3></a>
        <p class="text-secondary">{% trans "A professional blog publishing platform." %}</p>
      </div>
      <div class="col-md-4">
        <img class="img-circle" src="{% static "img/logo/gonevis.png" %}">
        <a href="http://badge.kloud51.com"><h3 class="t-normal">Badge</h3></a>
        <p class="text-secondary">
          {% trans "Badges for your site to display cool badges for your projects such as downloads, license, status" %}
        </p>
      </div>
    </div>
  </div>

{% endblock %}
